name: build and release

on: push

jobs:
  native-linux:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-go@v3
        with:
          go-version: 1.18.0

      - name: Build shared library
        env:
          GOOS: linux
          GOARCH: amd64
        run: |
          cd ./3rdparty/mysql
          go build -buildmode c-shared -ldflags "-s -w" -trimpath -o libsqlex.so github.com/pingcap/tidb/sqlex

      - name: Upload shared library
        uses: actions/upload-artifact@v3
        with:
          name: linux-shared-library
          path: 3rdparty/mysql/libsqlex.so

  native-windows:
    runs-on: ubuntu-20.04
    steps:
      - uses: ConorMacBride/install-package@v1
        with:
          apt: mingw-w64

      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-go@v3
        with:
          go-version: 1.18.0

      - name: Build shared library
        env:
          GOOS: windows
          GOARCH: amd64
          CGO_ENABLED: 1
          CC: x86_64-w64-mingw32-gcc
        run: |
          cd ./3rdparty/mysql
          go build -buildmode c-shared -ldflags "-s -w" -trimpath -o libsqlex.dll github.com/pingcap/tidb/sqlex

      - name: Upload shared library
        uses: actions/upload-artifact@v3
        with:
          name: windows-shared-library
          path: 3rdparty/mysql/libsqlex.dll

  darwin-amd64:
    runs-on: macos-10.15
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-go@v3
        with:
          go-version: 1.18.0

      - name: Build shared library
        env:
          GOOS: darwin
          GOARCH: amd64
        run: |
          cd ./3rdparty/mysql
          go build -buildmode c-shared -ldflags "-s -w" -trimpath -o libsqlex_amd64.dylib github.com/pingcap/tidb/sqlex

      - name: Upload shared library
        uses: actions/upload-artifact@v3
        with:
          name: darwin-amd64-shared-library
          path: 3rdparty/mysql/libsqlex_amd64.dylib

  darwin-aarch64:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-go@v3
        with:
          go-version: 1.18.0

      - name: Build shared library
        env:
          GOOS: darwin
          GOARCH: arm64
          CGO_ENABLED: 1
        run: |
          cd ./3rdparty/mysql
          go build -buildmode c-shared -ldflags "-s -w" -trimpath -o libsqlex_arm64.dylib github.com/pingcap/tidb/sqlex

      - name: Upload shared library
        uses: actions/upload-artifact@v3
        with:
          name: darwin-aarch64-shared-library
          path: 3rdparty/mysql/libsqlex_arm64.dylib

  native-darwin:
    runs-on: macos-11
    needs:
      - darwin-amd64
      - darwin-aarch64
    steps:
      - name: Download darwin shared library
        uses: actions/download-artifact@v3
        with:
          name: darwin-amd64-shared-library
          path: 3rdparty/mysql

      - name: Download darwin aarch64 shared library
        uses: actions/download-artifact@v3
        with:
          name: darwin-aarch64-shared-library
          path: 3rdparty/mysql

      - name: Combine shared library
        env:
          GOOS: darwin
          GOARCH: amd64
        run: |
          cd ./3rdparty/mysql
          lipo ./libsqlex_amd64.dylib ./libsqlex_arm64.dylib -create -output ./libsqlex.dylib

      - name: Upload shared library
        uses: actions/upload-artifact@v3
        with:
          name: darwin-shared-library
          path: 3rdparty/mysql/libsqlex.dylib

  test:
    needs:
      - native-linux
      - native-windows
      - native-darwin

    strategy:
      matrix:
        os: [ 'ubuntu-latest', 'windows-latest', 'macos-latest' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          cache-disabled: true

      - name: Download linux shared library
        uses: actions/download-artifact@v3
        with:
          name: linux-shared-library
          path: parser/src/main/resources/native/linux/

      - name: Download windows shared library
        uses: actions/download-artifact@v3
        with:
          name: windows-shared-library
          path: parser/src/main/resources/native/windows/

      - name: Download darwin shared library
        uses: actions/download-artifact@v3
        with:
          name: darwin-shared-library
          path: parser/src/main/resources/native/darwin/

      - name: Execute Gradle test
        run: ./gradlew test

  plugin-verify:
    needs:
      - native-linux
      - native-windows
      - native-darwin

    strategy:
      matrix:
        os: [ 'ubuntu-latest', 'windows-latest', 'macos-latest' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          cache-disabled: true

      - name: Download linux shared library
        uses: actions/download-artifact@v3
        with:
          name: linux-shared-library
          path: parser/src/main/resources/native/linux/

      - name: Download windows shared library
        uses: actions/download-artifact@v3
        with:
          name: windows-shared-library
          path: parser/src/main/resources/native/windows/

      - name: Download darwin shared library
        uses: actions/download-artifact@v3
        with:
          name: darwin-shared-library
          path: parser/src/main/resources/native/darwin/

      - name: Execute Gradle test
        run: ./gradlew runPluginVerifier

  maven-publish:
    if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v')

    needs:
      - test

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          cache-disabled: true

      - name: Download linux shared library
        uses: actions/download-artifact@v3
        with:
          name: linux-shared-library
          path: parser/src/main/resources/native/linux/

      - name: Download windows shared library
        uses: actions/download-artifact@v3
        with:
          name: windows-shared-library
          path: parser/src/main/resources/native/windows/

      - name: Download darwin shared library
        uses: actions/download-artifact@v3
        with:
          name: darwin-shared-library
          path: parser/src/main/resources/native/darwin/

      - name: Write secrets to file
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWD: ${{ secrets.MAVEN_PASSWD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_PASSWD: ${{ secrets.SIGNING_PASSWD }}
        run: |
          echo ossrh.username="$MAVEN_USERNAME" > local.properties
          echo ossrh.password="$MAVEN_PASSWD" >> local.properties
          echo signing.key="$SIGNING_KEY" >> local.properties
          echo signing.password="$SIGNING_PASSWD" >> local.properties

      - name: Publish to snapshot repository
        if: github.ref == 'refs/heads/master'
        run: ./gradlew publishToSonatype

      - name: Publish to release repository
        if: startsWith(github.ref, 'refs/tags/v')
        env:
          RELEASE: 1
        run: ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository