name: build

on: push

jobs:
  native-linux:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-go@v3
        with:
          go-version: 1.18.0

      - name: Build shared library
        env:
          GOOS: linux
          GOARCH: amd64
        run: |
          cd ./3rdparty/mysql
          go build -buildmode c-shared -ldflags "-s -w" -trimpath -o libsqlex.so github.com/pingcap/tidb/sqlex

      - name: Upload shared library
        uses: actions/upload-artifact@v3
        with:
          name: linux-shared-library
          path: 3rdparty/mysql/libsqlex.so

  native-windows:
    runs-on: ubuntu-20.04
    steps:
      - uses: ConorMacBride/install-package@v1
        with:
          apt: mingw-w64

      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-go@v3
        with:
          go-version: 1.18.0

      - name: Build shared library
        env:
          GOOS: windows
          GOARCH: amd64
          CGO_ENABLED: 1
          CC: x86_64-w64-mingw32-gcc
        run: |
          cd ./3rdparty/mysql
          go build -buildmode c-shared -ldflags "-s -w" -trimpath -o libsqlex.dll github.com/pingcap/tidb/sqlex

      - name: Upload shared library
        uses: actions/upload-artifact@v3
        with:
          name: windows-shared-library
          path: 3rdparty/mysql/libsqlex.dll

  native-darwin-amd64:
    runs-on: macos-10.15
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-go@v3
        with:
          go-version: 1.18.0

      - name: Build shared library
        env:
          GOOS: darwin
          GOARCH: amd64
        run: |
          cd ./3rdparty/mysql
          go build -buildmode c-shared -ldflags "-s -w" -trimpath -o libsqlex.dylib github.com/pingcap/tidb/sqlex

      - name: Upload shared library
        uses: actions/upload-artifact@v3
        with:
          name: darwin-amd64-shared-library
          path: 3rdparty/mysql/libsqlex.dylib

  native-darwin-aarch64:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-go@v3
        with:
          go-version: 1.18.0

      - name: Build shared library
        env:
          GOOS: darwin
          GOARCH: arm64
          CGO_ENABLED: 1
        run: |
          cd ./3rdparty/mysql
          go build -buildmode c-shared -ldflags "-s -w" -trimpath -o libsqlex.dylib github.com/pingcap/tidb/sqlex

      - name: Upload shared library
        uses: actions/upload-artifact@v3
        with:
          name: darwin-aarch64-shared-library
          path: 3rdparty/mysql/libsqlex.dylib

  test:
    needs:
      - native-linux
      - native-windows
      - native-darwin-amd64
      - native-darwin-aarch64

    strategy:
      matrix:
        os: [ 'ubuntu-latest', 'windows-latest', 'macos-latest' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Download linux shared library
        uses: actions/download-artifact@v3
        with:
          name: linux-shared-library
          path: parser/src/main/resources/native/linux/

      - name: Download windows shared library
        uses: actions/download-artifact@v3
        with:
          name: windows-shared-library
          path: parser/src/main/resources/native/windows/

      - name: Download darwin amd64 shared library
        uses: actions/download-artifact@v3
        with:
          name: darwin-amd64-shared-library
          path: parser/src/main/resources/native/darwin/x86/

      - name: Download darwin aarch64 shared library
        uses: actions/download-artifact@v3
        with:
          name: darwin-aarch64-shared-library
          path: parser/src/main/resources/native/darwin/aarch64/

      - name: Execute Gradle test
        run: ./gradlew test

  build:
    needs:
      - native-linux
      - native-windows
      - native-darwin-amd64
      - native-darwin-aarch64

    strategy:
      matrix:
        os: [ 'ubuntu-latest', 'windows-latest', 'macos-latest' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Download linux shared library
        uses: actions/download-artifact@v3
        with:
          name: linux-shared-library
          path: parser/src/main/resources/native/linux/

      - name: Download windows shared library
        uses: actions/download-artifact@v3
        with:
          name: windows-shared-library
          path: parser/src/main/resources/native/windows/

      - name: Download darwin amd64 shared library
        uses: actions/download-artifact@v3
        with:
          name: darwin-amd64-shared-library
          path: parser/src/main/resources/native/darwin/x86/

      - name: Download darwin aarch64 shared library
        uses: actions/download-artifact@v3
        with:
          name: darwin-aarch64-shared-library
          path: parser/src/main/resources/native/darwin/aarch64/

      - name: Execute Gradle build
        run: ./gradlew build