name: dev deploy

on: push

jobs:
  build-native:
    uses: ./.github/workflows/native.yml

  deploy:
    needs:
      - build-native
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Download linux shared library
        uses: actions/download-artifact@v3
        with:
          name: linux-shared-library
          path: parser/src/main/resources/native/linux/

      - name: Download windows shared library
        uses: actions/download-artifact@v3
        with:
          name: windows-shared-library
          path: parser/src/main/resources/native/windows/

      - name: Download darwin shared library
        uses: actions/download-artifact@v3
        with:
          name: darwin-shared-library
          path: parser/src/main/resources/native/darwin/

      - name: Pre-Build
        run: ./gradlew build

      - name: Wait others to succeed
        uses: lewagon/wait-on-check-action@v1.0.0
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          running-workflow-name: 'deploy'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 10

      - name: Write secrets to file
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWD: ${{ secrets.MAVEN_PASSWD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_PASSWD: ${{ secrets.SIGNING_PASSWD }}
        run: |
          echo ossrh.username="$MAVEN_USERNAME" > local.properties
          echo ossrh.password="$MAVEN_PASSWD" >> local.properties
          echo signing.key="$SIGNING_KEY" >> local.properties
          echo signing.password="$SIGNING_PASSWD" >> local.properties

      - name: Publish to snapshot repository
        run: ./gradlew publishToSonatype
