name: build native shared library

on:
  workflow_call:

jobs:
  native-linux:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-go@v3
        with:
          go-version: 1.18.0

      - name: Build shared library
        env:
          GOOS: linux
          GOARCH: amd64
        run: |
          cd ./3rdparty/mysql
          go build -buildmode c-shared -ldflags "-s -w" -trimpath -o libsqlex.so github.com/pingcap/tidb/sqlex

      - name: Upload shared library
        uses: actions/upload-artifact@v3
        with:
          name: linux-shared-library
          path: 3rdparty/mysql/libsqlex.so

  native-windows:
    runs-on: ubuntu-20.04
    steps:
      - uses: ConorMacBride/install-package@v1
        with:
          apt: mingw-w64

      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-go@v3
        with:
          go-version: 1.18.0

      - name: Build shared library
        env:
          GOOS: windows
          GOARCH: amd64
          CGO_ENABLED: 1
          CC: x86_64-w64-mingw32-gcc
        run: |
          cd ./3rdparty/mysql
          go build -buildmode c-shared -ldflags "-s -w" -trimpath -o libsqlex.dll github.com/pingcap/tidb/sqlex

      - name: Upload shared library
        uses: actions/upload-artifact@v3
        with:
          name: windows-shared-library
          path: 3rdparty/mysql/libsqlex.dll

  native-darwin:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-go@v3
        with:
          go-version: 1.18.0

      - name: Build shared library
        env:
          GOOS: darwin
          GOARCH: amd64
        run: |
          cd ./3rdparty/mysql
          GOOS=darwin GOARCH=amd64 go build -buildmode c-shared -ldflags "-s -w" -trimpath -o libsqlex_amd64.dylib github.com/pingcap/tidb/sqlex
          GOOS=darwin GOARCH=arm64 CGO_ENABLED=1 go build -buildmode c-shared -ldflags "-s -w" -trimpath -o libsqlex_arm64.dylib github.com/pingcap/tidb/sqlex
          lipo ./libsqlex_amd64.dylib ./libsqlex_arm64.dylib -create -output ./libsqlex.dylib

      - name: Upload shared library
        uses: actions/upload-artifact@v3
        with:
          name: darwin-shared-library
          path: 3rdparty/mysql/libsqlex.dylib